.DS_Store
node_modules
.*.swp
.*.swo
/.idea/workspace.xml
backend/build/
/backend/.eggs/
/backend/citynet_backend.egg-info/
/backend/dist/
*.egg-info/
doc/build
/celerybeat-schedule.db
__pycache__
/cityback/db.sqlite3
cityback/.eggs
cityback/build
celerybeat-schedule.db
cityback/cover
/old_dump/180317_23_49_prod.sql
/old_dump/180320_13_27_prod.sql
/dump.sql
/node/package.json
