.DS_Store
node_modules
.*.swp
.*.swo
/.idea/workspace.xml
backend/build/
/backend/.eggs/
/backend/citynet_backend.egg-info/
/backend/dist/
*.egg-info/
doc/build
/celerybeat-schedule.db
__pycache__
migrations
/cityback/db.sqlite3
cityback/.eggs
cityback/build
celerybeat-schedule.db
/config_private/bash_import_secret
