<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Display a map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <link href="static/styles/style.css" rel="stylesheet"/>
    <script src="static/scripts/Chart.bundle.js"></script>
</head>
<body>
<div id="page">
<div id='map'></div>

<div id='console'>
    <h2>Dublin Bikes map</h2>
    <h3>Station occupancy:</h3>
    <div class="container">
        <div class='circle colorbar_empty'></div>
        <div class='circle colorbar_full'></div>
        <div class='colorbar_middle'></div>
    </div>
    <div class='row labels'>
        <div class='label'>0</div>
        <div class='label'>1</div>
        <div class='label'>x</div>
        <div class='label'>x</div>
        <div class='label'>x</div>
        <div class='label'>x</div>
        <div class='label'>99</div>
        <div class='label right'>100</div>
    </div>
    <h3>Updated station:</h3>
    <div class="block_row">
        <div class='circle colorbar_update_black'></div>
        <div class='arrow'>&rarr;</div>
        <div class='circle colorbar_update_red'></div>
    </div>
    <div id='sliderbar'>
        <h3>DateTime: <label id='active-hour'>2018-01-01 00:00</label></h3>
        <input id='slider' class='row' type='range' min='0' max='23' step='1' value='12' />
    </div>
    <div>Time precision:
    <select id=delta_s>
        <option value="60"> 1 minute</option>
        <option value="1800">30 minutes</option>
        <option value="3600">1 hour</option>
        <option value="21600" selected>6 hours</option>
        <option value="43200">12 hours</option>
        <option value="86400">24 hours</option>
    </select></div>
</div>

<div class="aftermap">
<button type="button" onclick="pressButton()">Debug Mode</button>
The debug mode is <span id="dbg">false</span>.
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <br>
    <button id="randomizeData">Randomize Data</button>
    <button id="addDataset">Add Dataset</button>
    <button id="removeDataset">Remove Dataset</button>
    <button id="addData">Add Data</button>
    <button id="removeData">Remove Data</button>
</div>
</div>
<script type="text/javascript" src="static/scripts/socket.js"></script>
<script type="text/javascript" src="static/scripts/map.js"></script>
<script type="text/javascript" src="static/scripts/chart.js"></script>
</body>
</html>
</html>
