
body { margin:0; padding:0; }
#map {
    position:absolute; top:0; bottom:0; width:100%;
    height:600px;
}

.marker {
    /*background-image: url('https://www.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');*/
    background-size: cover;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.markerbicycle
{
    background-image: url("../resources/bicycle.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#console {
    position: absolute;
    width: 280px;
    top: 10px;
    left:10px;
    padding: 0 10px 10px 10px;
    background-color: white;
}

.container{
    width: 100%;}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;

}
.colorbar_empty{
    background: #ffffff;
    float:left;
    margin-right: 5px;
}

.arrow{
    height: 25px;
    text-align: center;
    float: left;
    display: block;
    line-height: 29px;
    margin-left: 5px;
}

.colorbar_update_black{
    background: #006bc0;
    display: block;
    float:left;
}
.colorbar_update_red{
    background: #006bc0;
    border-color: #D00000;
    display: block;
    float:left;
    margin-left: 5px;
}

.colorbar_middle{
    width: 70%;
    height: 25px;
    background: linear-gradient(to right,  #ccddff, #006bc0);
    margin:0 auto;
    margin-bottom: 5px;
}

.colorbar_full{
    background-color: #777777;
    float: right;
}

.right{
    float:right;
}
.block_row {
    height: 25px;
    margin-bottom: 5px;
    width: 100%;
}
.row {
    height: 12px;
    margin-bottom: 5px;
    width: 100%;
}


.label {
    width: 11%;
    display: inline-block;
    text-align: center;
}

.aftermap{
    margin-top:600px;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 300px;
}

.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}