
body { margin:0; padding:0; }
#map {
    position:absolute; top:0; bottom:0; width:100%;
    height:800px;
}

.marker {
    /*background-image: url('https://www.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');*/
    background-size: cover;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.markerbicycle
{
    background-image: url("../resources/bicycle.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#console {
    position: absolute;
    width: 240px;
    top: 10px;
    left:10px;
    padding: 10px 20px;
    background-color: white;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
}

.label {
    width: 15%;
    display: inline-block;
    text-align: center;
}

.aftermap{
    margin-top:800px;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
